footer {
  background: #353535;
  height: 24vh;
  margin-top: 6rem;
  .footer__container {
    width: 88%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12vh;
    i {
      font-size: 1.2rem;
      width: 5%;
    }
  }
  a {
    color: white;
    font-size: 1.5rem;
    &:hover {
      color: $footer;
    }
  }
  h2 {
    font-family: "Shrikhand";
    font-size: 1.8rem;
    font-weight: 400;
    padding: 2rem 0rem;
  }
}
