#menu {
  background: #f6f6f6;
}
.menu__entrees {
  width: 95%;
  margin: auto;
  @include flex(space-between, start, column);
  h3 {
    font-weight: 400;
    color: #3d3d3d;
    padding-left: 0.5rem;
  }
  .underline {
    width: 12%;
    margin-top: 0.4rem;
    background: #99e2d0;
    height: 0.3rem;
    margin-left: 0.5rem;
  }
  .menu__entrees__list {
    background: white;
    box-shadow: 3px 5px 5px rgba(161, 161, 161, 0.2),
      3px 5px 15px rgba(161, 161, 161, 0.1);
    width: 100%;
    margin-top: 1.5rem;
    padding: 1rem 1rem 1.3rem 1rem;
    @include flex(space-between, center, row);
    border-radius: 15px;
    text-overflow: ellipsis;
    h4 {
      padding-bottom: 0.8rem;
    }
    .menu__entrees__list__price {
      @include flex(center, center, row);
      .price {
        font-size: 1.5rem;
        font-weight: 600;
        color: #3d3d3d;
        padding: 3rem 3rem 0rem 1rem;
        width: 15%;
        background: white;
        position: relative;
      }
      .fa-check-circle {
        display: none;
        /*background: #99e2d0;
        @include flex(center, center, row);
        width: 15%;
        right: -40px;
        height: 5.5rem;
        position: absolute;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        color: white;
        font-size: 2rem;*/
      }
    }
  }
}
.menu__plats {
  width: 95%;
  margin: auto;
  padding-top: 5rem;
  @include flex(space-between, start, column);
  h3 {
    font-weight: 400;
    color: #3d3d3d;
    padding-left: 0.5rem;
  }
  .underline {
    width: 8%;
    margin-top: 0.4rem;
    background: #99e2d0;
    height: 0.3rem;
    margin-left: 0.5rem;
  }
  .menu__plats__list {
    background: white;
    box-shadow: 3px 5px 5px rgba(161, 161, 161, 0.2),
      3px 5px 15px rgba(161, 161, 161, 0.1);
    width: 100%;
    margin-top: 1.5rem;
    padding: 1rem 1rem 1.3rem 1rem;
    @include flex(space-between, center, row);
    border-radius: 15px;
    text-overflow: ellipsis;
    h4 {
      padding-bottom: 0.8rem;
    }
    .menu__plats__list__price {
      @include flex(center, center, row);
      .price {
        font-size: 1.5rem;
        font-weight: 600;
        color: #3d3d3d;
        padding: 1.5rem 3rem 0rem 1rem;
        width: 15%;
        background: white;
        position: relative;
      }
      .fa-check-circle {
        display: none;
        /*background: #99e2d0;
        @include flex(center, center, row);
        width: 15%;
        right: -40px;
        height: 5.5rem;
        position: absolute;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        color: white;
        font-size: 2rem;*/
      }
    }
  }
}
.menu__desserts {
  padding-top: 5rem;
  width: 95%;
  margin: auto;
  @include flex(space-between, start, column);
  h3 {
    font-weight: 400;
    color: #3d3d3d;
    padding-left: 0.5rem;
  }
  .underline {
    width: 8%;
    margin-top: 0.4rem;
    background: #99e2d0;
    height: 0.3rem;
    margin-left: 0.5rem;
  }
  .menu__desserts__list {
    background: white;
    box-shadow: 3px 5px 5px rgba(161, 161, 161, 0.2),
      3px 5px 15px rgba(161, 161, 161, 0.1);
    width: 100%;
    margin-top: 1.5rem;
    padding: 1rem 1rem 1.3rem 1rem;
    @include flex(space-between, center, row);
    border-radius: 15px;
    text-overflow: ellipsis;
    h4 {
      padding-bottom: 0.8rem;
    }
    .menu__desserts__list__price {
      @include flex(center, center, row);
      .price {
        font-size: 1.5rem;
        font-weight: 600;
        color: #3d3d3d;
        padding: 1.5rem 3rem 0rem 1rem;
        width: 15%;
        background: white;
        position: relative;
      }
      .fa-check-circle {
        display: none;
        /*background: #99e2d0;
        @include flex(center, center, row);
        width: 15%;
        right: -40px;
        height: 5.5rem;
        position: absolute;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        color: white;
        font-size: 2rem;*/
      }
    }
  }
}
