#hero {
  background: #f6f6f6;
  img {
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  .hero__name {
    position: relative;
    top: -45px;
    padding: 3rem 2rem 0rem 1.5rem;
    background: #f6f6f6;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    @include flex(space-between, center, row);
    h2 {
      font-family: "Shrikhand", sans-serif;
      font-weight: 500;
      margin-bottom: -2rem;
    }
    i {
      font-size: 2.5rem;
      padding-right: 2rem;
      margin-bottom: -2rem;
    }
  }
}
