#restaurants {
  background: #f6f6f6;
  h2 {
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    width: 88%;
    margin: auto;
  }
  .restaurant {
    position: relative;
    width: 88%;
    margin: auto;
    height: 30rem;
    border-radius: 15px;
    background: white;
    margin-bottom: 2rem;
    box-shadow: 3px 5px 5px rgba(161, 161, 161, 0.2),
      3px 5px 15px rgba(161, 161, 161, 0.1);
    img {
      object-fit: cover;
      width: 100%;
      height: 70%;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
    span {
      position: absolute;
      top: 15px;
      right: 10px;
      font-size: 1.4rem;
      font-weight: 500;
      padding: 0.6rem 1rem;
      background: #99e2d0;
      color: #008766;
    }
    a:hover {
      opacity: 0.9;
      color: #9356dc;
    }
    .restaurant__about {
      @include flex(space-between, center, row);
      width: 90%;
      margin: auto;
      padding-top: 1.5rem;
      p {
        font-weight: 300;
        font-size: 1.7rem;
        padding-top: 0.2rem;
      }
      .favorite {
        cursor: pointer;
        background: white;
        border: none;
      }
      i {
        font-size: 2.3rem;
        transition: all 0.3s ease-out;

        &:hover {
          font-weight: 600;
          background: $gradientBis;
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
        }
      }
    }
  }
}
#menu {
  background: #f6f6f6;
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.7rem;
  }
  p {
    font-size: 1.4rem;
    color: #3d3d3d;
  }
}
.menu__entrees,
.menu__plats,
.menu__desserts {
  width: 95%;
  margin: auto;
  @include flex(space-between, start, column);
  h3 {
    font-weight: 400;
    color: #3d3d3d;
    padding-left: 0.5rem;
  }
  .underline {
    width: 12%;
    margin-top: 0.4rem;
    background: #99e2d0;
    height: 0.3rem;
    margin-left: 0.5rem;
  }
  .menu__entrees__list {
    opacity: 0;
    animation: slidein 0.6s ease 0.3s forwards;
  }
  .menu__plats__list {
    opacity: 0;
    animation: slidein 0.6s ease 0.6s forwards;
  }
  .menu__desserts__list {
    opacity: 0;
    animation: slidein 0.6s ease 0.9s forwards;
  }
  .menu__entrees__list,
  .menu__plats__list,
  .menu__desserts__list {
    cursor: pointer;
    background: white;
    width: 100%;
    padding: 3.4rem 0rem;
    margin: auto;
    margin-top: 1.5rem;
    box-shadow: 3px 5px 5px rgba(161, 161, 161, 0.2),
      3px 5px 15px rgba(161, 161, 161, 0.1);
    border-radius: 15px;
    @include flex(space-between, center, row);
    overflow: hidden;
    position: relative;
    &:hover div:nth-child(2) {
      animation: slide 1s ease forwards;
      .fa-check-circle {
        animation: spin 0.6s ease;
      }
    }
    &:hover .menu__entrees__list__description {
      width: 60%;
      transition: 1s;
    }
    &:hover .menu__plats__list__description {
      width: 60%;
      transition: 1s;
    }
    &:hover .menu__desserts__list__description {
      width: 60%;
      transition: 1s;
    }

    .menu__entrees__list__description,
    .menu__plats__list__description,
    .menu__desserts__list__description {
      position: absolute;
      width: 75%;
      .ellipsis {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-top: 0.3rem;
        padding-left: 1rem;
      }
    }
    .menu__entrees__list__price,
    .menu__plats__list__price,
    .menu__desserts__list__price {
      @include flex(center, center, row);
      position: absolute;
      right: 0;
      padding-left: 2rem;
      background: transparent;
      font-weight: 600;
      transform: translateX(7rem);
      .price {
        padding-top: 2.5rem;
        padding-right: 2rem;
      }
      span {
        @include flex(center, center, row);
        width: 7rem;
        height: 7rem;
        background: #99e2d0;
        color: white;
        font-size: 2rem;
      }
    }
  }
}
.menu__plats,
.menu__desserts {
  h3 {
    margin-top: 3rem;
  }
}
.book {
  cursor: pointer;
  width: 50%;
  margin: auto;
  margin-top: 4rem;
  @include flex(center, center, row);
  background: $gradient;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 30px;
  padding: 1.4rem;
  border: none;
  box-shadow: 3px 5px 5px rgba(128, 128, 128, 0.2),
    3px 5px 8px rgba(128, 128, 128, 0.1);
  &:hover {
    opacity: 0.8;
    box-shadow: 3px 5px 5px rgba(128, 128, 128, 0.4),
      3px 5px 8px rgba(128, 128, 128, 0.3);
  }
}
@keyframes slide {
  from {
    transform: translatex(6rem);
  }
  to {
    transform: translatex(0.1rem);
  }
}
@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes slidein {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }

  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
