header {
  @include flex(center, center, row);
  padding: 1.5rem 0 1rem 0;
  box-shadow: 0 0.2rem 0.5rem rgb(187, 186, 186);
  position: relative;
  h1 {
    font-family: "Shrikhand", sans-serif;
    font-weight: 500;
  }
}
.loader {
  position: absolute;
  background: $gradient;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  animation: loader 0.01s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  .loader__icon {
    padding: 5rem;
    font-size: 5rem;
    position: relative;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  .fa-mobile-alt {
    animation: scale 1s ease forwards;
  }
  .fa-list-ul {
    animation: scale 1s ease forwards 0.5s;
  }
  .fa-store {
    animation: scale 1s ease forwards 1s;
  }
}
@keyframes loader {
  from {
    opacity: 1;
    z-index: 10000;
  }
  to {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes scale {
  from {
    scale: 1;
  }
  to {
    scale: 2;
  }
}
