.hero__location {
  background: #eaeaea;
  .hero__location__name {
    width: 60%;
    margin: auto;
    @include flex(flex-start, center, row);
    i {
      padding: 2rem;
      font-size: 1.5rem;
    }
  }
}
.hero__description {
  text-align: center;
  background: #f6f6f6;
  min-height: 43vh;
  h2 {
    padding: 4rem 0rem 1.5rem 0rem;
  }
  p {
    color: #7d7d7d;
    padding-bottom: 2rem;
  }
  button {
    background: $gradient;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 30px;
    padding: 1.4rem;
    box-shadow: 3px 5px 5px rgba(128, 128, 128, 0.2),
      3px 5px 8px rgba(128, 128, 128, 0.1);
  }
}
