.hero__location {
  background: #eaeaea;
  .hero__location__name {
    width: 60%;
    margin: auto;
    @include flex(flex-start, center, row);
    i {
      padding: 2rem;
      font-size: 1.5rem;
    }
  }
}
.hero__description {
  text-align: center;
  background: #f6f6f6;
  min-height: 35vh;
  h2 {
    padding: 4rem 0rem 1.5rem 0rem;
  }
  p {
    color: #7d7d7d;
    padding-bottom: 2rem;
  }
  button {
    background: $gradient;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 30px;
    padding: 1.4rem;
    box-shadow: 3px 5px 5px rgba(128, 128, 128, 0.2),
      3px 5px 8px rgba(128, 128, 128, 0.1);
  }
}
.hero__how {
  width: 90%;
  margin: auto;
  min-height: 55vh;
  h2 {
    padding-top: 4rem;
  }
  ol {
    padding-top: 2.5rem;
    list-style: none;
    counter-reset: li;
    @include flex(space-between, center, column);
    li {
      @include flex(space-around, center, row);
      width: 95%;
      border-radius: 25px;
      min-height: 9vh;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: left;
      background: #f6f6f6;
      margin: 0rem 3rem 3rem 3rem;
      box-shadow: 3px 5px 5px rgba(161, 161, 161, 0.2),
        3px 5px 15px rgba(161, 161, 161, 0.1);
      i {
        font-size: 2rem;
        color: #7e7e7e;
      }
    }
    :nth-child(3) {
      background: #f5edff;
      i {
        color: #9356dc;
      }
    }
    li::before {
      content: counter(li);
      counter-increment: li;
      color: white;
      font-size: 1.5rem;
      font-weight: 500;
      display: inline-block;
      width: 1rem;
      background: #9356dc;
      border-radius: 100%;
      padding: 0.3rem 0.7rem;
      margin-left: -3rem;
      margin-right: 0rem;
      direction: rtl;
    }
  }
}
