.hero__location {
  background: #eaeaea;
  .hero__location__name {
    @include flex(center, center, row);
    h4 {
      font-weight: 500;
      padding-right: 3rem;
    }
    i {
      padding: 2rem 2rem 2rem 1.5rem;
      font-size: 1.5rem;
    }
  }
}
.hero__description {
  text-align: center;
  background: #f6f6f6;
  padding-bottom: 8vh;
  h2 {
    padding: 4rem 0rem 1.5rem 0rem;
  }
  p {
    color: #7d7d7d;
    padding-bottom: 2rem;
  }
  .explore {
    background: $gradient;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 30px;
    padding: 1.4rem;
    border: none;
    box-shadow: 3px 5px 5px rgba(128, 128, 128, 0.2),
      3px 5px 8px rgba(128, 128, 128, 0.1);
    &:hover {
      background: $gradientHover;
      box-shadow: 3px 5px 5px rgba(128, 128, 128, 0.4),
        3px 5px 8px rgba(128, 128, 128, 0.3);
    }
  }
}
.hero__how {
  width: 90%;
  margin: auto;
  padding-bottom: 5vh;
  animation: slidein 3.5s ease 0.5s;
  h2 {
    padding-top: 4rem;
  }
  ol {
    padding-top: 2.5rem;
    list-style: none;
    counter-reset: li;
    @include flex(space-between, center, column);
    li {
      @include flex(flex-start, center, row);
      width: 95%;
      border-radius: 25px;
      padding: 2.5rem 0;
      font-size: 1.6rem;
      font-weight: 500;
      background: #f6f6f6;
      margin-bottom: 3rem;
      box-shadow: 3px 5px 5px rgba(161, 161, 161, 0.2),
        3px 5px 15px rgba(161, 161, 161, 0.1);
      i {
        font-size: 1.8rem;
        color: #7e7e7e;
        padding: 0 3rem;
      }
    }
    :nth-child(1) {
      animation: slidefr 0.5s ease 2.5s both;
    }
    :nth-child(2) {
      animation: slidefr 0.5s ease 3s both;
    }
    :nth-child(3) {
      background: #f5edff;
      animation: slidefr 0.5s ease 3.5s both;
      i {
        color: #9356dc;
      }
    }
    li::before {
      content: counter(li);
      counter-increment: li;
      color: white;
      font-size: 1.5rem;
      font-weight: 500;
      display: inline-block;
      width: 1rem;
      background: #9356dc;
      border-radius: 100%;
      padding: 0.3rem 0.7rem;
      margin-left: -1rem;
      margin-right: 0rem;
      direction: rtl;
    }
  }
}
@keyframes slidefr {
  from {
    opacity: 0;
    transform: translatex(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
