$header1: 2.8rem;
$header2: 2.3rem;
$header3: 1.8rem;
$header4: 1.6rem;
$text: 1.8rem;
$background-color: #154353;
$black-text: black;
$footer: #ff79d9;
$gradient: linear-gradient(
  to bottom right,
  #ff79d9,
  #9356dc
);
$gradientBis: linear-gradient(
  to bottom left,
  #9356dc,
  #ff79d9
);
$gradientHover: linear-gradient(
  to bottom right,
  #ff7edb,
  #a161f0
);

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import "global";
@import "header";
@import "hero";
@import "content";
@import "footer";
@import "loader";

@media all and (min-width: 870px) and(max-width:1340px) {
  .hero__how {
    width: 60%;
  }
  .restaurant {
    max-width: 60%;
  }
  footer ul {
    flex-direction: row;
  }
}

@media all and (min-width: 1340px) {
  br {
    display: none;
  }
  .hero__how {
    width: 60%;
    h2 {
      text-align: center;
    }
    ol {
      flex-direction: row;
      justify-content: space-between;
      li {
        width: 30%;
      }
    }
  }
  #restaurants {
    h2 {
      text-align: center;
    }
  }
  .restaurants__container {
    width: 70%;
    margin: auto;
    @include flex(space-between, center, row);
    flex-wrap: wrap;
    .restaurant {
      max-width: 40%;
    }
  }
  .footer__container {
    max-width: 70%;
    ul {
      flex-direction: row;
      font-weight: 600;
      i {
        margin-right: 1rem;
      }
    }
  }
}
