#hero {
  background: #f6f6f6;
  img {
    width: 100%;
    object-fit: cover;
    position: relative;
    height: 38vh;
  }
  .hero__name {
    position: relative;
    top: -45px;
    padding: 3rem 2rem 0rem 1.5rem;
    background: #f6f6f6;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    @include flex(space-between, center, row);
    h2 {
      font-family: "Shrikhand", sans-serif;
      font-weight: 500;
      margin-bottom: -2rem;
    }
    button {
      border: none;
      cursor: pointer;
      background: #f6f6f6;
      i {
        font-size: 2.5rem;
        padding-right: 2rem;
        padding-top: 2rem;
        transition: all 0.3s ease;
        &:hover {
          font-weight: 900;
          background: $gradientBis;
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
        }
      }
    }
  }
}
